@use '../../../styles/color-light';
@use '../../../styles/color-dark';

.ant-table-override {
    .ant-table {
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 3px 1.5px color-light.$primary-shadow;
        z-index: 1;
    }
    .ant-table-title {
        font-size: 18px;
        font-weight: bold;
        border-radius: 20px 20px 0px 0px;
    }
    .ant-table-thead .ant-table-cell {        
        color: color-light.$secondary;
        background-color: color-light.$secondary-bg;
        font-size: 12px;
        font-weight: 500;      
    }
    .fullname-col, .company-col{
        font-size: 12px;
        font-weight: 700;
    }
    .dOB-col, .position-col {
        //font-size: 12px;
        font-weight: 500;
        //color: color-light.$secondary;
    }
    .btn-col {
        width: 173px;
    }
    .ant-btn-default {
        color: color-dark.$secondary;
        margin: 0px 5px 0px 0px;
        font-size: 12px;
        font-weight: 650;        
        border-radius: 3px;       
        box-shadow: 0px 0px 1px 0.05px color-light.$btn-secondary-shadow;
    }
    .ant-table-footer {
        border-radius: 0px 0px 20px 20px;
        padding: 16px 10px;
        background-color: color-light.$terciary-bg;
    }
}