/* .companies-page {
  grid-column: 3/11;
}

.addBtn {
  float: right;
} */

.companies-page {
  grid-column: span 12;
  height: 100vh;
  margin: 0px 0px;

.addCompanyBtn {
  position: relative;
  top: 50px;
  right: 20px;
  display: block;
  margin-left: auto;
  border-color: white;
  border-radius: 5px;
  //width: 70px;
  height: 30px;
  padding: 5px 20px;
  font-size: 16px;
  color: white;
  background-color: blue;
  border: solid 1px blue;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px rgb(0, 28, 151);

  a:link {
    text-decoration: none;
    color:white;
  }

  a:visited {
    text-decoration: none;
  }
}

.addUserBtn:active {
  transform: scale(0.985);
  box-shadow: 0px 0px 2px 1px rgb(0, 28, 151);
}

.addUserBtn:after {
  content:' ' attr(title);
  visibility: hidden; 
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear, font 0.05s linear;
  font-size:0;
}

.addUserBtn:hover:after {
  content:' ' attr(title);
  visibility: visible;
  opacity:1;
  transition-delay: 0s;
  font-size:16px;
}






.c-table-container {
    width:80%;
    margin: auto;

    h2 {
      text-align: right;
      color: rgb(0, 22, 82);
      margin-right: auto;
    }
}  
}  