.home {
  grid-column: span 12;
  text-align: center;
  height: 100vh;
  /* background-color:transparent; */
}

.home img {
  width: 40%;
  margin: 80px 0px 0px 0px;
}

.home h1 {
  display: block;
  color: black;
  font-size: 28px;
  margin: 20px auto;
}
