@use '../../../../styles/color-dark';
@use '../../../../styles/color-light';

.weather-modal {
    position:absolute;
    top: 70px;
    right: 10px;
    z-index: +100;
    width: 220px;
    height: 130px;
    padding: 5px;
    box-shadow:inset 0px 1px 0px 0px color-dark.$btn-blue-shadow;
	background:linear-gradient(to bottom, #377ccc 5%, rgb(0, 22, 82) 100%);
	background-color:#1d518d;
    color:color-light.$primary;
    font-size: 14px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    text-align: center;

    p {
        font-size: 20px;
    }
}