@use '../../../../styles/color-dark';

.header {
    grid-column: span 12;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    //box-shadow: 2px 2px 8px 0.5px color-dark.$btn-blue-shadow;

.header-title {
    width: 160px;
    height: 50px;
    margin-left: 15px;
    border-right: 2px solid color-dark.$primary;
    
    img {
        height: 24px;
        margin-top: 10px;
    }

    a {    
        text-decoration: none;
        display: inline;
        padding: 0px 5px;        
        vertical-align: 3px;
    }
    
    h1 {
        display: inline;
        font-size: 20px;
        margin: 0px; 
    }
}

nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
       
    a {    
        text-decoration: none;
        display: inline-block;
        padding: 0px 15px;
        font-size: 24px;
        font-weight: bold;
    }
    
    a:hover {        
        cursor: pointer;
        text-shadow: rgba(136,136,136,1) 0px 0px 1px, rgb(136, 136, 136) 0px 0px 1px, rgba(136,136,136,1) 0px 0px 1px, rgba(136,136,136,1) 0px 0px 1px, rgba(136,136,136,1) 0px 0px 1px, rgba(136,136,136,1) 0px 0px 1px, rgba(136,136,136,1) 0px 0px 1px, rgba(136,136,136,1) 0px 0px 1px, 1px 1px 1px rgb(0, 41, 155);
    }}
    
    a.active {
        height:34px;
        border-radius: 8px;
        background-color: rgba(245, 245, 245, 0.11);
    }
}

.theme-btn {
    width: 40px;
    height: 40px;
	border-radius: 100%;
    border-width: 1px;
    border-color: color-dark.$btn-blue;
	cursor:pointer;
    font-size: 18px;
    margin: 0px 10px 0px;
    padding: 1px 0px 0px 0.5px
}

.weather-btn {
    width: 40px;
    height: 40px;
	border-radius: 100%;
	border-width: 1px;
    border-color: color-dark.$btn-blue;
	cursor:pointer;
    font-size: 18px;
	text-decoration:none;
	text-shadow:10px 11px 10px color-dark.$btn-blue-shadow;
    margin: 0px 10px 0px;
    padding: 1px 0px 0px 0.5px
}

@media screen and (max-width: 480px) {
    .header-title {
        display: none;
    }
}