.header {
    grid-column: span 12;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,61,255,1) 100%);

.header-title {
    width: 160px;
    height: 50px;
    margin-left: 15px;
    border-right: 2px solid rgb(3, 41, 165);
    
    img {
        height: 24px;
        margin-top: 10px;
    }

    a {    
        text-decoration: none;
        display: inline;
        padding: 0px 5px;        
        vertical-align: 3px;
    }
    
    h1 {
        display: inline;
        font-size: 20px;
        margin: 0px;
        color: whitesmoke; 
    }
}

nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
       
    a {    
        text-decoration: none;
        display: inline-block;
        padding: 0px 15px;
        font-size: 24px;
        color: whitesmoke;
    }
    
    a:hover {
        color: rgb(70, 113, 253);
        cursor: pointer;
        text-shadow: #2f97ff 0px 0px 5px, #2f97ff 0px 0px 5px, #2f97ff 0px 0px 5px, #2f97ff 0px 0px 5px, #2f97ff 0px 0px 5px, #2f97ff 0px 0px 5px, #2f97ff 0px 0px 5px, #2f97ff 0px 0px 5px, 2px 2px 2px rgb(71, 157, 255);
    }}
    
    a.active {
        height:34px;
        background-color:#1957bb;
        border-radius: 8px;
    }

    li:hover {
        color: rgb(203, 215, 255);
        cursor: pointer;
    }
}

.weather-btn {
    width: 45px;
    height: 45px;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius: 50px;
	border:1px solid #337fed;
	cursor:pointer;
	color:#ffffff;
    font-size: 32px;
	text-decoration:none;
	text-shadow:10px 11px 10px #1570cd;
    margin: 0px 15px 0px;
    padding: 3px 0px 0px 0.5px
}

.weather-btn:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1957bb;
    font-size: 26px;
}

.weather-btn:active {
	position:relative;
    font-size: 30px;
    border-radius: 65px;
}