.header {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    /* position: relative;
    display: block;;
    position: relative; */
    height: 60px;
    /* width: 100%; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(0,61,255,1) 100%);
}




.header h1 {
    display: inline-block;
    
    color: whitesmoke;
    margin: 5px;
}

.header nav {
    float:right;
    width: 70%;
    text-align: right;
    margin-top: 8px;
}

.header ul {
    text-align: right;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;    
}

.header li {
    display: inline-block;
    margin: 3px 0px;
    padding: 0px 10px;
    border-right: 2px solid rgb(3, 41, 165);
    font-size: 24px;
    color: whitesmoke;    
}

.header li:last-child {
    border-right: none;
}

.header li:hover {
    color: rgb(203, 215, 255);
    cursor: pointer;
}

.header button {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
    margin: 0px 10px;
    vertical-align: 0px;
}
.header button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.header button:active {
	position:relative;
	top:1px;
}

.header a {
    text-decoration: none;
    display: inline-block;
    margin: 3px 0px;
    padding: 0px 10px;
    border-right: 2px solid rgb(3, 41, 165);
    font-size: 24px;
    color: whitesmoke;   
}

.header a:hover {
    color: rgb(203, 215, 255);
    cursor: pointer;
}

a.active {
    background-color: rgb(0, 33, 124);
}