.company-form {
  width: 300px;
  text-align: left;
  margin: 50px auto;
}

.form-container {
  position: relative;
  border-style: groove;
  border-width: 5px;
  padding: 10px;
  margin-top: 10px;
}

label {
  display: block;
  margin: 6px 0px;
  color: slategrey;
  font-weight: 500;
}

input {
  margin-bottom: 16px;
  padding: 3px;
  width: 90%;
}
.errors {
  position: absolute;
  color: rgb(255, 5, 5);
  font-style: bold;
  font-size: 16px;
  margin-top: -14px;
}

h1 {
  display: inline;
  color: white;
  margin: 30px 0px;
  font-size: 20px;
}

button {
  display: inline;
  padding: 5px;
  margin-top: 0px;
  font-size: 16px;
}
