.table-users {
  margin: 20px 0px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;  
  border-spacing: 0px 10px;
}

.table-users tr {
  height: 40px;
}

.table-users td {
  color: rgb(17, 24, 56);
  background-color: rgb(174, 243, 243);
  font-size: 20px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: white;
  font-weight: 600;
  border-width: 2px 2px;
  text-align: left;
  padding: 10px 5px;
  margin: 10px 10px;
}

.table-users th {
  text-align: left;
  color: white;
  font-size: 20px;
  padding: 10px 5px;
}
