$background: rgb(255,255,255);
$background-gradient: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(177,177,189,1) 40%, rgba(165,165,223,1) 70%, rgba(177,177,189,1) 100%);

$primary-bg: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(177,177,189,1) 0%, rgba(172,172,172,1) 50%, rgba(177,177,189,1) 100%);

$primary: lightgrey;

$secondary: white;

$btn-white: white;