$primary-bg: rgb(212, 11, 138);
$secondary-bg:hwb(0 98% 2%);

$primary: rgb(66, 66, 66);
$secondary: rgb(84, 86, 91);
$terciary: rgb(234, 234, 234);

$primary-shadow: rgb(234, 234, 234);
$secondary-shadow: rgb(234, 234, 234);

$btn-primary: rgb(75, 110, 253);
$btn-primary-shadow: rgb(0, 0, 132);
$btn-primary-hover: rgb(58, 88, 209);
$btn-secondary-active: white;

$btn-secondary: white;
$btn-secondary-shadow:white;
$btn-secondary-hover: white;
$btn-secondary-active: white;

$error: rgb(177, 0, 0);