.comment-modal-backdrop {
  position:fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #003775f3;
  display: flex;
  align-items:center;
  justify-content:center;
}

.comment-modal-container {
  width: 50%;
  height: 80vh;
  padding: 2%;
  color: silver;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  text-align: justify;
}
.comment-modal-container h1 {
  font-size: 26px;
  color: rgb(9, 9, 34);
}

.comment-modal-container h2 {
  font-size: 26px;
  color: rgb(9, 9, 155);
}

.comment-modal-container h3 {
  font-size: 22px;
  color: blue;
  font-style: italic;
}

.comment-modal-container p {
  color: black;
}
