body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;    
    background: rgb(255,255,255);
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 100%);
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(12, 1fr);  
    grid-auto-rows: minmax(50px, auto);
}