 @use '../styles/color-light';
 @use '../styles/color-dark';

.theme-light {
    background-color: color-light.$primary-bg;

    h1, h2, h3, h4, h5, h6, p, li, th, td, label {color: color-dark.$primary}

    .theme {        
        background-color: color-light.$primary-bg;
        
    }
    .ant-table-title {
            color: color-dark.$primary;
    }

    .backdrop {
        background-color: rgba(38, 48, 116, 0.801);
    }

    .form-body-theme {
        background-color: color-light.$primary-bg;
    }

    .weather-btn-theme {
        color: color-dark.$secondary;
        background-color: color-light.$btn-secondary;
    }

    .postcard-theme {
        h1, h2, h3 {color: color-dark.$primary}
        background-color: color-light.$primary;
        box-shadow: 0.5px 0.5px 3px 1.5px color-light.$primary-shadow;      
    }
    
}

.theme-dark {
    background-color: color-dark.$primary-bg;

    h1, h2, h3, h4, h5, h6, p, li, th, td, label {color: color-light.$primary};

    .theme {
        background: color-dark.$primary-bg;
    }

    .backdrop {
        background-color: rgba(0, 4, 86, 0.801);
    }

    .form-body-theme {
        background-color: rgb(32, 24, 120);
    }

    .weather-btn-theme {
        color: color-light.$primary;
        background-color: color-dark.$primary;;
    }

    .postcard-theme {
        h1, h2, h3, input, textarea, .comment-name, .comment-area {color: color-light.$primary;background-color: color-dark.$btn-primary-shadow}
        background-color: color-dark.$btn-primary-shadow;        
    }
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(12, 1fr);  
    grid-auto-rows: fit-content;
}
