@use '../../../../styles/color-light';
@use '../../../../styles/color-dark';

.paging-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    p {
        display: inline;
        color: color-light.$secondary;   
    }

    .ant-select {
        vertical-align: bottom;
        margin: 0px 10px;
        color: color-dark.$secondary;
        border-radius: 3px;       
        box-shadow: 0px 0px 1px 0.05px color-light.$secondary;        
    }
}
.page-info {
    max-width: 200px;
    margin-left: 5px;    
}

.page-btns-container {  
    width: 330px;
}