@use '../../../../styles/color-dark';

.paging-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-radius: 5px;
    font-size: 14px;

    p {
        display: inline;        
    }

    button {
        height: 24px;
        margin: 0 5px;
        padding: 1px 5px;        
    }
    select {
        height: 24px;
        margin: 0 10px;
        border-radius: 5px;
        outline:none;
    }
}
.page-info {
    max-width: 200px;
    margin-left: 5px;    
}

.page-btns-container {  
    width: 320px;
}

.paging-line button:enabled {
    color: color-dark.$primary;
    font-weight: bold;
}

.paging-line button:disabled {
    background-color: white;
}