/* label {
  color: white;
  font-size: 24px;
  margin: 0px 0px;
}

#title,
#body {
  height: fit-content;
  max-height: 150px;
  width: 95%;
  text-align: center;
  color: blue;
  font-size: 26px;
  border: 4px groove rgb(78, 86, 196);
  background-color: rgb(174, 243, 243);
}

#body {
  height: 150px;
  font-size: 16px;
  text-align: justify;
} */
