.comment-card {
  height: 150px;
  margin: 30px auto;
  width: 100%;
}

.comment-name {
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  margin-left: auto;
  height: 30px;
  width: 50%;
  padding: 0px;
  color: rgb(14, 14, 170);
  font-weight: bold;
  font-size: 18px;
  border: 4px groove rgb(73, 122, 228);
  background-color: rgb(174, 243, 243);
}

.comment-area {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  padding: 0px 10px;
  color: blue;
  border: 4px groove rgb(73, 122, 228);
  background-color: rgb(174, 243, 243);
}
