@use '../../../styles/color-light';
@use '../../../styles/color-dark';

.header {
    grid-column: span 12;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 42px;
    box-shadow: 0px 2px 5px 2px color-light.$primary-shadow;
    z-index:1;

.header-title {
    width: 155px;
    height: 40px;
    margin-left: 15px;
    padding-top: 3px;
    border-right: 2px solid color-light.$primary-shadow;

    a {    
        text-decoration: none;
        display: inline;
        padding: 0px 5px;
    }
    
    h1 {
        display: inline;
        font-size: 20px;
        vertical-align: -5px;        
    }
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
    a {    
        text-decoration: none;
        display: inline-block;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 400;
        vertical-align: 0px;
    }
    
    a:hover {        
        cursor: pointer;
        text-shadow: 0px 0px 1px rgb(86, 86, 86);
    }}
    
    a.active {
        height:42px;
        border-bottom: groove 2px color-light.$btn-primary; 
    }
}

.theme-btn, .weather-btn {
    width: 35px;
    height: 35px;
    background-color: color-light.$btn-secondary;
	border-radius: 50%;
    border: 0px solid color-light.$btn-secondary;
    box-shadow: 0px 0px 5px 2px color-light.$primary-shadow;
	cursor:pointer;
    font-size: 18px;
    margin: 0px 10px 0px 0px;
    padding: 1px 0px 1px 0.5px;
    padding: 1px 0px 1px 0.5px;
}

.theme-btn:hover, .weather-btn:hover {
    box-shadow: 0px 0px 8px 2.5px color-light.$primary-shadow;
}

.theme-btn:active, .weather-btn:active {
    width: 34px;
    height: 34px;
    margin: 0px 10.5px 0px 0.5px;
    font-size: 17px;
    box-shadow: 0px 0px 8px 2.5px color-light.$primary-shadow;
}

@media screen and (max-width: 660px) {
    header {
        height: 350px;
    }
    .header-title {
        max-width: 50px;
    }
    #h {
        display: none;
    }

    nav {
        a {
        display: block;
    }
    ul {
        text-align: center;
    }
    li {
        display: inline;
    }
    .header-btns {
        height:max-content;
        padding: 0px;
    }
    }

    .theme-btn, .weather-btn {
        margin: 10px 10px;
    }
}